.container {
  background-color: grey;
  display: flex;
  height: 150px;
}

.menu {
  margin: auto;
  margin-right: 200px;
}

.logo{
  align-self: center;
  margin-left: 50px;
}

.logo:hover{
  scale: 1.1;
}

