.container {
  background-color: rgba(0, 0, 0, 0.267);
  display: flex;
  height: 150px;
}

.menu {
  margin: auto;
  margin-right: 200px;
}

.logo {
  align-self: center;
  margin-left: 50px;
}

.logo:hover {
  scale: 1.1;
}

.button {
  background-color: #398397;
  color: white;
}

.button:hover {
  background-color: #6dc5dd;
}
